#content .row .input {
    margin: 10px 20px 0px 20px;
}
#content .title {
    margin: 10px 0px 5px 0px;
    font-size: 20px;
    font-style: italic;
}
#content .title label {
    margin: 5px 0px 0px 5px;
    font-size: 20px;
    font-style: italic;
}