<div class="background">
  <div class="login-container">
    <div class="title-box">
      契約管理システム
    </div>
    <div class="login-box">
      <div class="logo">
        <img src="../../../assets/image/ASATECX_e-learn.png" style="width: 420px;height: 100px;">
      </div>
      <form #formAdd="ngForm" novalidate role="form" (ngSubmit)="formAdd.form.valid && login()">

        <div class="login-body">
          <div class="ui-g">
            <div class="ui-g-12">
              <span class="fa fa-user"></span>
              <input type="text" pInputText
                     placeholder="ユーザID"
                     [(ngModel)]="nameModel"
                     name="nameMode"
                     required
                     (focus)="inputFocus()"
                     #nameMode="ngModel"
              >
            </div>
          </div>
          <div class="ui-g error-input-msg">
            <div class="ui-g-12" *ngIf="formAdd.submitted && !nameMode.valid">
              <i class="fa fa-times-circle mr5"></i>ユーザIDは必須です。
            </div>
          </div>
          <div class="ui-g">
            <div class="ui-g-12">
              <span class="fa fa-unlock-alt "></span>
              <input type="password" pInputText
                     placeholder="パスワード"
                     [(ngModel)]="psModel"
                     name="psMode"
                     required
                     (focus)="inputFocus()"
                     #psMode="ngModel">
            </div>
          </div>
          <div class="ui-g error-input-msg">
            <div class="ui-g-12" *ngIf="formAdd.submitted && !psMode.valid">
              <i class="fa fa-times-circle mr5"></i>パスワードは必須です。
            </div>
          </div>
          <div class="ui-g error-input-msg">
            <div class="ui-g-12">
              {{loginerrortext}}
            </div>
          </div>
          <button class="btn login-btn" type="submit">{{btnLogin}}</button>
        </div>
      </form>

    </div>
  </div>
</div>
